@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400&family=Quicksand&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Header {
  display: flex;
  justify-content: space-between;
  padding: 2em
}

.Profile-main {
  font-family: Manrope;
  text-align: left;
}

.Profile-name {
  font-size: 35px;
  margin: 0;
}

.Profile-position {
  font-size: 18px;
  margin: 0; 
  width: 20em
}

.Navbar {
  list-style: none;
  display: flex;
  gap: 1em
}

.Projects {
  display: flex;
  justify-content: space-evenly;
  padding: 3em
}

.Card {
  box-shadow: 0 0 10px black;
  margin: auto;
  width: 22em;
  height: 25em
  
}

.Card-info {
  list-style: none;
  padding: 1em;
}

.Profile-icon {
  display: flex;
  justify-content: center;
  gap: 2em;
}

.Img {
  width: 300px;
  height: auto
}

.Footer {
  display: block;
  padding: 4em;
}

.Up-arrow {
  display: flex;
  justify-content: center;
  margin: auto;
  border: 1px solid black;
  border-radius: 80px;
  align-items: center;
  width: 2.5em;
  height: 2.5em;
}

.Bottom-navbar {
  display: flex;
  justify-content: center;
  gap: 2em;
  font-size: 15px;
}


@media screen and (max-width: 750px) {

  .Profile-name {
    font-size: 25px;    
  }

  .Profile-position {
    font-size: 15px;
    width: 13.5em
  }

  .Projects {
    display: grid;
    grid-template-columns: auto;
    gap: 2em;
    padding: 0;
  }

  .Card {
    height: 350px;
    width: 300px
  }

  .Img {
    width: 250px;
  }

  .Up-arrow {
    height: 2em;
    width: 2em;
  }

}